<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755148554177-3lm7v86jk1ged2lkqiv5jtr16il9b2vl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755148554177-3lm7v86jk1ged2lkqiv5jtr16il9b2vl</string>
	<key>API_KEY</key>
	<string>AIzaSyD01sJne1FFiKiSsplyDoI32pKLRdO9U-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>755148554177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guardezi.dentalanesthetic</string>
	<key>PROJECT_ID</key>
	<string>dental-anesthesic</string>
	<key>STORAGE_BUCKET</key>
	<string>dental-anesthesic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755148554177:ios:4487eea0e60ae11617b940</string>
	<key>DATABASE_URL</key>
	<string>https://dental-anesthesic.firebaseio.com</string>
</dict>
</plist>